html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* costum style */

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Nunito', sans-serif;
  position: relative;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.item-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

/* text */

.text-center{
  text-align: center;
}

/* column */

.flex15 {
  flex: 0 1 15%;
}

.flex20 {
  flex: 0 1 20%;
}

.flex25 {
  flex: 0 1 25%;
}

.flex30 {
  flex: 0 1 30%;
}

.flex35 {
  flex: 0 1 35%;
}

.flex40 {
  flex: 0 1 40%;
}

.flex48 {
  flex: 0 1 48%;
}

.flex50 {
  flex: 0 1 50%;
}

.flex60 {
  flex: 0 1 60%;
}

.flex100{
  flex: 0 1 100%;
}

.grow {
  flex: 1 1 auto;
}

.width-full {
  width: 100%;
}

.font0 {
  font-size: 0;
}

/* Padding */

.padding {
  padding: 2rem 0;
}

/* Margin */

.margin-left {
  margin-left: 1rem;
}

/* Center */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */

.hero{
  background: linear-gradient(rgba(52, 36, 166, 0.6), rgba(52, 36, 166, 0.6)),
    url(media/banner.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
}

.brand a {
   text-decoration: none;
   color: rgb(255 255 255);
   text-transform: capitalize;
   font-size: 2.4rem;
   font-weight: 700;
}

.menu a{
  text-decoration: none;
   color: rgb(255 255 255);
   text-transform: uppercase;
   margin-left: 2rem;
   font-size: 1.5rem;
}

.menu a:hover{
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  color: rgb(249 35 77);
}

.menu .active{
   text-decoration: none;
   color: rgb(255 255 255);
   text-transform: capitalize;
   font-family: 'Comic Neue', cursive;
   font-size: 1.3rem;
   background-color: rgb(249 35 77);
   padding: 0.8rem 2rem;
   border-radius: 0.3rem;
}

#toggle, .bars{
  display: none;
}

/* Hero section */

.article-txt h1{
    color: rgb(255 255 255);
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 3rem 0;
}

.article-txt small{
  color: rgb(249 35 77);
}

.article-txt p{
  color: rgb(255 255 255);
  font-size: 1.4rem;
  font-weight: 300;
  margin: 2rem 0;
  line-height: 1.5;
}

.btn{
  text-decoration: none;
  color: rgb(255 255 255);
  background-color: rgb(249 35 77);
  font-family: 'Comic Neue', cursive;
  font-size: 1.6rem;
  padding: 0.8rem 1.8rem;
  border-radius: 0.2rem;
  text-transform: capitalize;
}

/* Main section */

.section{
  background-color: rgb(255 255 255);
}

.article2-txt{
  width: 50%;
}

.section article img{
  width: 30%;
}

.article2-txt h1{
    color: rgb(0 19 45);
    text-transform: uppercase;
    word-spacing: -0.2rem;
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.2;
    margin: 3rem 0;
}

.article2-txt p{
  color: rgb(84, 85, 86);
  font-size: 1.4rem;
  font-weight: 300;
  margin: 2rem 0;
  line-height: 1.5;
  letter-spacing: -0.1rem;
}

/* section2 */

.section2{
  background-color: rgb(222 236 255);
  width: 100%;
  height: auto;
}

.section2-heading{
    color: rgb(0 19 45);
    text-transform: capitalize;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.2;
    text-align: center;
    padding: 2rem 0;
}

.box{
  border: 0.2rem dashed rgb(249 35 77);
  position: relative;
  margin-top: 3rem;
}

.box span{
  color: rgb(249 35 77);
  font-size: 2.5rem;
  font-weight: 700;
  font-family: sans-serif;
  padding: 0 1.1rem;
  position: absolute;
  top: -1.4rem;
  left: 1.1rem;
  background-color: rgb(222 236 255);
}

.box h2{
    color: rgb(0 19 45);
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.2;
    padding: 0 1rem;
    margin: 1rem 0;
}

.box p{
  padding: 0 1rem;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #676565;
  letter-spacing: -0.1rem;
  word-spacing: 0rem;
  line-height: 1.2;
}

/* section3 */

.section3{
  background-color: rgb(255 255 255);
  width: 100%;
  height: auto;
}

.section3-heading{
  color: rgb(0 19 45);
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
  padding: 2rem 0;
}

.parent-schedule{
  border-left: 0.2rem dashed rgb(249 35 77);
  position: relative;
  margin-left: 2rem;
}

.schedule{
  margin-bottom: 5rem;
}

.schedule-txt{
  margin-left: 6rem;
}

.circle-active{
  width: 9.5rem;
  height: 9.5rem;
  background-color:rgb(249 35 77) ;
  color: rgb(255 255 255);
  border-radius: 50%;
  padding: 2.3rem;
  font-size: 2rem;
  font-weight: 800;
  font-family: 'Nunito', sans-serif;
  position: absolute;
  left: -4.6rem;
}

.circle{
  width: 9.5rem;
  height: 9.5rem;
  background-color: rgb(255 255 255);
  color: rgb(249 35 77);
  border: 0.2rem dashed rgb(249 35 77);
  border-radius: 50%;
  padding: 2.3rem;
  font-size: 2rem;
  font-weight: 800;
  font-family: 'Nunito', sans-serif;
  position: absolute;
  left: -4.6rem;
}

.image-schedule{
  width: 20%;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-left: 4rem;
}

.schedule-art{
  width: 70%;

}

.schedule-art h3{
  color: rgb(0 19 45);
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.2;
    margin: 1rem 0;
    font-family: 'Nunito', sans-serif;
}

.schedule-art p{
  color: rgb(84, 85, 86);
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: 1.5rem;
  line-height: 1.5;
  letter-spacing: -0.1rem;
}

.btn-section3-parent{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-section3{
  text-decoration: none;
  color: rgb(255 255 255);
  background-color: rgb(249 35 77);
  font-family: 'Comic Neue', cursive;
  font-size: 1.6rem;
  padding: 0.9rem 1.8rem;
  border-radius: 0.2rem;
  text-transform: capitalize;
}

/* Section4 */

.section4{
  background-color: rgb(222 236 255);
  width: 100%;
  height: auto;
}

.parent-event-detail{
  width: 100%;
  padding: 4rem 0;
}

.event-detail{
   width: 25%;
   padding: 1rem;
   margin-right: 2rem;
   text-align: center;
}

.event-detail img{
  margin: 0.5rem 0;
  width: 4rem;
}

.event-detail h4{
    color: rgb(12 3 4);
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.2;
    margin: 0.5rem 0;
}

.event-detail small{
  color: rgb(12 3 4);
  text-transform: capitalize;
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 0.5rem 0;
}

.event-detail-active{
   width: 25%;
   padding: 1rem;
   margin-right: 2rem;
   text-align: center;
   background-color: rgb(249 35 77);
   border-radius: 0.5rem;
}

.event-detail-active img{
  margin: 0.5rem 0;
  width: 4rem;
}

.event-detail-active h4{
  color: rgb(255 255 255);
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.2;
    margin: 0.5rem 0;
}

.event-detail-active small{
  color: rgb(255 255 255);
  text-transform: capitalize;
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 0.5rem 0;
}

/* Section5 */

.section5{
  background-color: rgb(255 255 255);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-img{
  background: url(media/banner.png) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
  width: 100%;
  height: 80%;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.bg-img i{
  font-size: 7rem;
  background-color: rgb(249 35 77);
  border-radius: 50%;
}

/* Section6 */

.section6{
  background-color: rgb(222 236 255);
  width: 100%;
  height: auto;
}

.section6-heading{
    color: rgb(0 19 45);
    text-transform: capitalize;
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 1.2;
    text-align: center;
    padding: 2rem 0;
}

.section6-article{
  margin: 1rem 0;
}

.section6-article img{
  width: 100%;
  object-fit: cover;
}

.section6-article h5{
  color: rgb(0 19 45);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.1rem;
  margin: 1rem 0;
}

.section6-article p{
  color: rgb(84, 85, 86);
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

.section6-article a{
  color: rgb(6, 38, 84);
  font-size: 1.5rem;
  font-weight: 700;
}

.section6-article .section6-article-active-btn {
  color: rgb(249, 35, 77);
  font-size: 1.5rem;
  font-weight: 700;
}

/* Footer */

.footer{
  background-color: rgb(35 52 123);
  width: 100%;
  height: auto;
}

.footer-logo{
  width: 35%;
}

.footer-links{
  width: 65%;
}

.quick-links small{
   font-size: 1.5rem;
   font-weight: 700;
   color: rgb(231, 228, 228);
   line-height: 2;
}

.quick-links li a{
   font-size: 1.2rem;
   text-transform: capitalize;
   font-weight: 400;
   color: rgb(167, 164, 164);
   text-decoration: none;
   margin-right: 0.8rem;
}

.quick-links ul{
  margin-top: 2rem;
}

.follow-links{
  width: 46%;
}

.follow-links small{
   font-size: 1.5rem;
   font-weight: 700;
   color: rgb(234, 232, 232);
   line-height: 2;
}

.follow-links a i{
   font-size: 1.2rem;
   background-color: rgb(167, 164, 164);
   margin-right: 2rem;
   padding: 0.5rem;
   border-radius: 0.5rem;
}

.follow-links nav{
  margin-top: 2rem;
}

.footer-bottom{
  background-color: rgb(16 32 102);
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-bottom small{
  font-size: 1.2rem;
  color: rgb(141, 139, 139);
  word-spacing: -0.2rem;
}

/* Responsive */

@media screen and (max-width: 1200px) {

  .container{
    max-width: 1140px;
  }
  
}

@media screen and (max-width: 992px){
  html{
    font-size: 14px;
  }

  .container{
    max-width: 960px;
  }
}

@media screen and (max-width: 768px){
  html{
    font-size: 12px;
  }
  
  .container{
    max-width: 720px;
    padding: 0 2rem;
  }

  .sm-column{
    flex-direction: column;
  }

  .sm-widthfull{
    width: 100%;
  }

  .sm-flex100{
    flex: 0 1 100%;
    margin: 2rem 0;
  }

  .sm-flex{
    display: flex;
  }

  .sm-wrap{
    flex-wrap: wrap;
  }

  .sm-text-center{
    text-align: center;
  }

  .sm-justify-center{
    justify-content: center;
  }

  .sm-justify-between{
    justify-content: space-between;
  }

 /* Navbar */

  .nav{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(35, 52, 123, 0.9);
    padding-top: 12rem;
    text-align: center;
    z-index: 9;
  }

  .nav li{
    margin-top: 3rem;
  }

  #toggle:checked ~ .nav{
    display: inline-block;
  }

  .bars{
    display: inline-block;
    font-size: 2rem;
    color: rgb(148, 145, 145);
  }

  .brand, .bars{
    position: fixed;
    top: 2rem;
    z-index: 99;
  }

  .brand{
    left: 2rem;
  }

  .bars{
    right: 2rem;
  }

  .section article img{
    width: 100%;
    margin-top: 2rem;
  }

  /* section3 (schedule) */

  .section3{
    padding: 2rem 0;
  }

  .parent-schedule{
    border: none;
    position: none;
  }

   .circle-active{
    display: none;
   }

  
  .circle{
   display: none;
  }


  .section5{
    max-width: 100%;
    max-height: 50rem;
  }

  .bg-img{
    max-width: 60rem;
    max-height: 40rem;
    margin: 2rem;
  }
  
  .follow-links a i{
    margin: 1rem;
  }

}

@media screen and (max-width: 576px){
  html{
    font-size: 10px;
  }
  
  .container{
    max-width: 540px;
    padding: 0 2rem;
  }

  .sm-column{
    flex-direction: column;
  }

  .sm-widthfull{
    width: 100%;
  }

  .sm-flex100{
    flex: 0 1 100%;
    margin: 2rem 0;
  }

  .sm-flex{
    display: flex;
  }

  .sm-wrap{
    flex-wrap: wrap;
  }

  .sm-text-center{
    text-align: center;
  }

  .sm-justify-center{
    justify-content: center;
  }

  .sm-justify-between{
    justify-content: space-between;
  }

 /* Navbar */

  .nav{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(35, 52, 123, 0.9);
    padding-top: 12rem;
    text-align: center;
    z-index: 9;
  }

  .nav li{
    margin-top: 3rem;
  }

  #toggle:checked ~ .nav{
    display: inline-block;
  }

  .bars{
    display: inline-block;
    font-size: 2rem;
    color: rgb(148, 145, 145);
  }

  .brand, .bars{
    position: fixed;
    top: 2rem;
    z-index: 99;
  }

  .brand{
    left: 2rem;
  }

  .bars{
    right: 2rem;
  }


  .section5{
    max-width: 100%;
    max-height: 50rem;
  }

  .bg-img{
    max-width: 60rem;
    max-height: 40rem;
    margin: 2rem;
  }
  
  .follow-links a i{
    margin: 1rem;
  }

}